In [3]:
import pandas as pd

df = pd.read_pickle('../output/original.pkl')

df.head(10)

                        IDENTIFIER  SURVEY_YEAR  RACE  SAMPLE_ID  GENDER  \
Identifier Survey Year
1          1978                  1         1978     3        5.0       2
           1979                  1         1979     3        5.0       2
           1980                  1         1980     3        5.0       2
           1981                  1         1981     3        5.0       2
           1982                  1         1982     3        5.0       2
           1983                  1         1983     3        5.0       2
           1984                  1         1984     3        5.0       2
           1985                  1         1985     3        5.0       2
           1986                  1         1986     3        5.0       2
           1987                  1         1987     3        5.0       2

                        ASVAB_ARITHMETIC_REASONING  ASVAB_WORD_KNOWLEDGE  \
Identifier Survey Year
1          1978                                NaN                   NaN
           1979                                NaN                   NaN
           1980                                NaN                   NaN
           1981                                NaN                   NaN
           1982                                NaN                   NaN
           1983                                NaN                   NaN
           1984                                NaN                   NaN
           1985                                NaN                   NaN
           1986                                NaN                   NaN
           1987                                NaN                   NaN

                        ASVAB_PARAGRAPH_COMPREHENSION  \
Identifier Survey Year
1          1978                                   NaN
           1979                                   NaN
           1980                                   NaN
           1981                                   NaN
           1982                                   NaN
           1983                                   NaN
           1984                                   NaN
           1985                                   NaN
           1986                                   NaN
           1987                                   NaN

                        ASVAB_NUMERICAL_OPERATIONS  ASVAB_ALTERED_TESTING  \
Identifier Survey Year
1          1978                                NaN                    NaN
           1979                                NaN                    NaN
           1980                                NaN                    NaN
           1981                                NaN                    NaN
           1982                                NaN                    NaN
           1983                                NaN                    NaN
           1984                                NaN                    NaN
           1985                                NaN                    NaN
           1986                                NaN                    NaN
           1987                                NaN                    NaN

                             ...        ENROLLED_SCHOOL_OCTOBER  \
Identifier Survey Year       ...
1          1978              ...                            NaN
           1979              ...                            NaN
           1980              ...                            NaN
           1981              ...                            NaN
           1982              ...                            NaN
           1983              ...                            NaN
           1984              ...                            NaN
           1985              ...                            NaN
           1986              ...                            NaN
           1987              ...                            NaN

                        ENROLLED_SCHOOL_NOVEMBER  ENROLLED_SCHOOL_DECEMBER  \
Identifier Survey Year
1          1978                              NaN                       NaN
           1979                              NaN                       NaN
           1980                              NaN                       NaN
           1981                              NaN                       NaN
           1982                              NaN                       NaN
           1983                              NaN                       NaN
           1984                              NaN                       NaN
           1985                              NaN                       NaN
           1986                              NaN                       NaN
           1987                              NaN                       NaN

                        HIGHEST_DEGREE_RECEIVED  OCCALL70_MOD_JOB_1  \
Identifier Survey Year
1          1978                             NaN                 NaN
           1979                             NaN               325.0
           1980                             NaN                 NaN
           1981                             NaN               305.0
           1982                             NaN                 NaN
           1983                             NaN                 NaN
           1984                             NaN                 NaN
           1985                             NaN                 NaN
           1986                             NaN                 NaN
           1987                             NaN                 NaN

                        OCCALL70_MOD_JOB_2  OCCALL70_MOD_JOB_3  \
Identifier Survey Year
1          1978                        NaN                 NaN
           1979                        NaN                 NaN
           1980                        NaN                 NaN
           1981                        NaN                 NaN
           1982                        NaN                 NaN
           1983                        NaN                 NaN
           1984                        NaN                 NaN
           1985                        NaN                 NaN
           1986                        NaN                 NaN
           1987                        NaN                 NaN

                        OCCALL70_MOD_JOB_4  OCCALL70_MOD_JOB_5  IS_INTERVIEWED
Identifier Survey Year
1          1978                        NaN                 NaN            True
           1979                        NaN                 NaN            True
           1980                        NaN                 NaN           False
           1981                        NaN                 NaN            True
           1982                        NaN                 NaN           False
           1983                        NaN                 NaN           False
           1984                        NaN                 NaN           False
           1985                        NaN                 NaN           False
           1986                        NaN                 NaN           False
           1987                        NaN                 NaN           False

[10 rows x 98 columns]